<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <ul>
            <!-- alternativly if index is not required you can remove the 
            perentheses comma and index from before the in. Addint v-bind:key 
            here with the key name will make sure that vue knows the position 
            as well as the key of the item just pushed to the array. -->
            <li v-for="(ingredient, index) in ingredients" v-bind:key="ingredient">{{ ingredient }} ({{ index }})</li>
        </ul>
        <button @click="ingredients.push('spices')">Add new</button>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }}) </div>
            </li>
        </ul>
        <span v-for="n in 10">{{ n }}</span>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>
</body>
<foot>
    <script src="../js/vue.js"></script>
    <script src="main.js"></script>
</foot>
</html>